<!DOCTYPE html>
<html lang="en">
<head>
    <title>Blog manager</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    
</head>
<body>
    <%include ../layoutadmin/header.ejs %>
    
    <div class="container">
        <div class="row" style="margin-bottom : 5px;">
            <div class="col-md-12">
                <a href="/admin/blog-manager/addnew" class="btn btn-success pull-left">Add new post</a>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                Blog Post
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Id</th>                                
                                <th>Title</th>                                                          
                                <th>Content</th>    
                                <th>Author</th>
                                <th>Status</th>                                      
                            </tr>
                        </thead>
                        <tbody>
                            <%if (data && data.posts){%>
                                <%for (var i = 0; i < data.posts.length; i++){%>
                                    <tr>
                                        <td><%=data.posts[i].id%>%></td>
                                        <td><%=data.posts[i].title%></td>
                                        <td><%=data.posts[i].content%></td>
                                        <td><%=data.posts[i].author%></td>
                                        <td style="text-align: center"> 
                                            <button class="btn glyphicon glyphicon-trash btn-danger post_delete"
                                                    post_id = "<%=data.posts[i].id%>"></button>
                                            <a href="/admin/blog-manager/edit/<%=data.posts[i].id%>" 
                                                class="btn glyphicon glyphicon-pencil btn-primary"></a>
                                        </td>
                                    </tr>
                                <%}%>
                            <%}%>
                            
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="static/js/popper.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/blogAdmin.js"></script>
</body>
</html>