<!DOCTYPE html>
<html lang="en">
<head>
    <title>Edit post</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <%include ../layoutadmin/header.ejs %>
    
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                Edit post
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <% if (data && data.error){%>
                    <div id ="addnew-alert" class="alert alert-danger">
                        <%=data.error%>
                    </div>
                <%}%>
            <form role="form" method="PUT" action="">
                <input name="id" class="id" type="hidden" value= "<%=data.post.id%>"> 
                
                <div class="form-group">
                    <label>Author</label>
                    <input name="author" class="form-control author" value= "<%=data.post.author%>" required> 
                </div>

                <div class="form-group">
                    <label>Tiltle</label>
                    <input name="title" class="form-control title" value= "<%=data.post.title%>" required>
                </div>

                <div class="form-group">
                    <label>Summary</label>
                    <input name="summary" class="form-control summary" value= "<%=data.post.summary%>" required> 
                </div>
            
                <div class="form-group">
                    <label>Content</label>
                    <textarea name="content" class="form-control content" rows="3" >
                        <%if (data && data.post){%> 
                            <%=data.post.content%> 
                        <%}%>
                    </textarea>
                </div>
                                    
                <input type="button" value="Edit" class="btn btn-success post_edit">
            </form>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/js/blogAdmin.js"></script>
</body>
</html>