<!doctype <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/review-car.css" rel="stylesheet">

    <title><%=data.car.name%></title>
</head>

<body>
    <%include ../layout/header%>
    <div class="container">
        <br>
        <hr>

        <div class="card">
            <div class="row">
                <aside class="col-sm-5 border-right">
                    <article class="gallery-wrap">
                        <div class="img-big-wrap">
                            <div> <img src="/static/<%=data.car.imageUrl%>"></div>
                        </div> <!-- slider-product.// -->
                    </article> <!-- gallery-wrap .end// -->
                </aside>
                <aside class="col-sm-7">
                    <article class="card-body p-5">
                        <h3 class="title mb-3"><%=data.car.name%></h3>

                        <p class="price-detail-wrap">
                            <span class="price h3 text-warning">
                                <span class="num"><%=data.car.price%></span><span class="currency"> VNĐ</span>
                            </span>
                            <span>/ngày</span>
                        </p> <!-- price-detail-wrap .// -->
                        <dl class="item-property">
                            <dt>Mô tả</dt>
                            <dd>
                                <p>Here goes description consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                    quis nostrud exercitation ullamco </p>
                            </dd>
                        </dl>
                        <dl class="param param-feature">
                            <dt>Hãng</dt>
                            <dd><%=data.car.brand%></dd>
                        </dl>
                        <dl class="param param-feature">
                            <dt>Màu sơn</dt>
                            <dd><%=data.car.exterior_color%></dd>
                        </dl>
                        <dl class="param param-feature">
                            <dt>Kiểu dáng</dt>
                            <dd><%=data.car.seating%> chỗ</dd>
                        </dl>
                        <a href="/view-car/order/<%=data.car.id%>" class="btn btn-lg btn-primary text-uppercase">Liên hệ đặt xe</a>
                    </article> <!-- card-body.// -->
                </aside> <!-- col.// -->
            </div> <!-- row.// -->
        </div> <!-- card.// -->


    </div>
    <!--container.//-->
    <%include ../layout/footer%>
    <script src="static/js/jquery-3.3.1.slim.min.js"></script>
    <script src="static/js/popper.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
</body>

</html>