<!DOCTYPE html>
<html lang="en">
<head>
    <title>Feedback manager</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    
</head>
<body>
    <%include layoutadmin/header%>
    
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                Feedback
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Id</th>                                
                                <th>Name</th>                                                          
                                <th>Email</th>    
                                <th>Phone</th>
                                <th>Content</th>    
                                <th>Create at</th>                                  
                            </tr>
                        </thead>
                        <tbody>
                            <%if (data && data.feedbacks){%>
                                <%for (var i = 0; i < data.feedbacks.length; i++){%>
                                    <tr>
                                        <td><%=data.feedbacks[i].id%>%></td>
                                        <td><%=data.feedbacks[i].name%></td>
                                        <td><%=data.feedbacks[i].email%></td>
                                        <td><%=data.feedbacks[i].phone%></td>
                                        <td><%=data.feedbacks[i].content%></td>
                                        <td><%=data.feedbacks[i].create_at%></td>
                                    </tr>
                                <%}%>
                            <%}%>
                            
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="static/js/popper.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
</body>
</html>