<!DOCTYPE html>
<html lang="en">

<head>
    <title>Admin Dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>

<body>

    <%include layoutadmin/header%>

    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                Quản lý đơn đặt xe
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Tên khách hàng</th>
                                <th>Email</th>
                                <th>Số điện thoại</th>
                                <th>Mã xe</th>
                                <th>Thời gian thuê</th>
                                <th>Thời gian trả</th>
                                <th>Ghi chú</th>
                                <th>Thời gian đăng kí</th>
                                <th>Trạng thái</th>
                            </tr>
                        </thead>
                        <tbody>
                            <%if (data && data.orders){%>
                            <%for (var i = 0; i < data.orders.length; i++){%>
                            <tr>
                                <td>
                                    <%=data.orders[i].id%>%>
                                </td>
                                <td>
                                    <%=data.orders[i].name%>
                                </td>
                                <td>
                                    <%=data.orders[i].phone%>
                                </td>
                                <td>
                                    <%=data.orders[i].email%>
                                </td>
                                <td>
                                    <%=data.orders[i].idcar%>%>
                                </td>
                                <td>
                                    <%=data.orders[i].from%>
                                </td>
                                <td>
                                    <%=data.orders[i].to%>
                                </td>
                                <td>
                                    <%=data.orders[i].note%>
                                </td>
                                <td>
                                    <%=data.orders[i].create_at%>
                                </td>
                                <td style="text-align: center">
                                    <%if (data.orders[i].status){%>
                                        <a class="btn btn-success">Done</a>
                                    <%}else{%>
                                        <a class="btn btn-danger">Wait</a>
                                    <%}%>
                                </td>
                            </tr>
                            <%}%>
                            <%}%>

                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
    </div>
    <script src="static/js/jquery-3.3.1.slim.min.js"></script>
    <script src="static/js/popper.min.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
</body>

</html>